<?xml version="1.0"?>
<!--
/**
 * Ffuenf_DevTools extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_DevTools>
            <version>2.1.2</version>
        </Ffuenf_DevTools>
    </modules>
    <global>
        <blocks>
            <ffuenf_devtools>
                <class>Ffuenf_DevTools_Block</class>
            </ffuenf_devtools>
            <adminhtml>
                <rewrite>
                    <urlrewrite_grid>Ffuenf_Devtools_Block_Urlrewrite_Grid</urlrewrite_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <ffuenf_devtools>
                <class>Ffuenf_DevTools_Model</class>
            </ffuenf_devtools>
            <core>
                <rewrite>
                    <translate>Ffuenf_DevTools_Model_Translate</translate>
                </rewrite>
                <rewrite>
                    <email_template>Ffuenf_DevTools_Model_Email_Template</email_template>
                </rewrite>
                <rewrite>
                    <layout>Ffuenf_DevTools_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <ffuenf_devtools_observer>
                        <class>ffuenf_devtools/observer</class>
                        <method>overrideTheme</method>
                    </ffuenf_devtools_observer>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
        <helpers>
            <ffuenf_devtools>
                <class>Ffuenf_DevTools_Helper</class>
            </ffuenf_devtools>
        </helpers>
        <!-- add manufacturer to collection (https://www.atwix.com/magento/accessing-custom-attribute-at-checkout-or-cart/) -->
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <manufacturer />
                    </product_attributes>
                </item>
            </quote>
            <order_invoice>
                <item>
                    <product_attributes>
                        <manufacturer />
                    </product_attributes>
                </item>
            </order_invoice>
            <order_shipment>
                <item>
                    <product_attributes>
                        <manufacturer />
                    </product_attributes>
                </item>
            </order_shipment>
            <order_creditmemo>
                <item>
                    <product_attributes>
                        <manufacturer />
                    </product_attributes>
                </item>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ffuenf_devtools_customhandles>
                        <class>ffuenf_devtools/customhandles</class>
                        <method>addCustomHandles</method>
                    </ffuenf_devtools_customhandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <devtools after="Mage_Adminhtml">Ffuenf_DevTools_Adminhtml</devtools>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ffuenf_devtools_headerbar>
                        <class>ffuenf_devtools/observer</class>
                        <method>setBodyClass</method>
                    </ffuenf_devtools_headerbar>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <menu>
            <system>
                <children>
                    <devtools module="ffuenf_devtools">
                        <title>DevTools</title>
                        <sort_order>0</sort_order>
                        <children>
                            <backup module="ffuenf_devtools">
                                <title>Backup</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/devtools_backup</action>
                            </backup>
                        </children>
                    </devtools>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <ffuenf_devtools>
                    <file>devtools.xml</file>
                </ffuenf_devtools>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ffuenf_devtools>
            <general>
                <enable>0</enable>
            </general>
            <backup>
                <dump_database_script_path></dump_database_script_path>
            </backup>
            <magerun>
                <path>../tools/n98-magerun.phar</path>
            </magerun>
            <headerbar>
                <enable>0</enable>
                <production_path></production_path>
                <staging_path></staging_path>
                <development_path></development_path>
                <branch></branch>
                <commit></commit>
                <tag></tag>
            </headerbar>
        </ffuenf_devtools>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_DevTools/>
            </modules>
        </suite>
    </phpunit>
</config>